// $gradient: linear-gradient(90deg, blue, red);
$gradient: blue;

.test-div {
  height: 100px;
  width: 100px;
  background-color: orange;
  display: none;
}

body {
  padding-bottom: 5%;
}

.nav-bar {
  position: absolute;
  width: 100%;
  height: auto;
  display: none;
  left: 0px;
}

#menu-button{
  width: 5%;
  height: 15%;
}

.featured {
  width: 100%;
}

.featured-text {
  position: relative;
  top: -100px;
  background-color: white;
  height: auto;
  padding: 3%;
  margin-left: 20%;
  margin-right: 20%;
  z-index: 3;
}

.background-gradient {
  position: relative;
  width: 112%;
  height: 60%;
  background: linear-gradient(90deg, green, blue);
  padding: 1%;
  margin-left: 15%;
  left: -21%;
  top: -150px;
  z-index: 1;
}

img {
  max-width: 100%;
}
h1 {
  text-align: center;
}

.text-box {
  padding: 0 10% 0 2%;
  text-align: justify;
}

.article-tile {
  max-width: 80%;
}

a, a:hover {
  text-decoration: none;
}

.btn {
  margin-top: 1%
}

@import "ember-bootstrap/bootstrap";
