// $gradient: linear-gradient(90deg, blue, red);
$gradient: blue;

html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
  background-color: #e5e5e5 !important;
}


body {
  padding-bottom: 5%;
}

.nav-bar {
  position: fixed;
  width: 20%;
  height: 100%;
  display: none;
  top: 0;
  left: 0%;
  margin-left: -10%;
  background: linear-gradient(180deg, #c1ffcb, #c1f7ff);
  z-index: 4;
  padding: 2% 0% 0% 6%;
  border-right: 1px solid #db6d6d;
}

#menu-button{
  width: 5%;
  height: 15%;
}

.featured {
  width: 100%;
}

.featured-text {
  position: relative;
  top: -100px;
  background-color: white;
  height: auto;
  padding: 3%;
  margin-left: 20%;
  margin-right: 20%;
  z-index: 3;
}

.background-gradient {
  position: relative;
  width: 112%;
  height: 60%;
  background: linear-gradient(90deg, #c1ffcb, #c1f7ff);
  padding: 1%;
  margin-left: 15%;
  left: -21%;
  top: -150px;
  z-index: 1;
}

img {
  max-width: 100%;
  border: 1px solid #59757a;
  border-radius: 2px;
}
h1 {
  text-align: center;
}

.text-box {
  padding: 3% 10% 0 2%;
  text-align: justify;
}

.article-tile {
  max-width: 80%;
  background-color: #f9f9f9;
}

a, a:hover, a:visited {
  text-decoration: none !important;
}

.btn {
  margin-top: 1%
}

@import "ember-bootstrap/bootstrap";
