<img id="menu-button" {{action 'showNav'}} src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b2/Hamburger_icon.svg/220px-Hamburger_icon.svg.png" alt="menu" />

<div class="nav-bar">
<ul>
  <li>About</li>
  <li>About</li>
  <li>About</li>
  <li>About</li>
  <li>About</li>
</ul>
</div>


{{#each model as |story|}}
    <div class="small-block">
      {{story-tile story=story}}
    </div>
{{/each}}
